.root {
  min-height: 440px;
  width: 100vw;
  background: linear-gradient(
      0deg,
      rgba(30, 144, 255, 0.8),
      rgba(30, 144, 255, 0.8)
    ),
    url("../../public/bg.webp");
  border-radius: 0px 0px 70px 70px;
  display:flex;
  padding-top: 15vh;
  padding-bottom: 10%;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}
.root .search,
.root .header {
  width: 50%;
  color: white;
}
.root .header {
  color: white;
  padding: 2px 25px;
}
.root .header .title {
  line-height: 56px;
}
.root .header .description {
  line-height: 30px;
}
.root .header .title,
.root .header .description {
  margin: 0 !important;
  margin-bottom: 5px !important;
  color: white !important;
  font-weight: 700;
}

.dangerous {
  color: red;
}

.btn {
  margin-top: 5%;
  box-sizing: border-box;
  width: max-content;
  height: 6vh;
  background: white;
  border: 4px solid #1e90ff;
  color: #1e90ff;
  border-radius: 20px;
  margin-left: 15px;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.5s;
}
.btn:hover {
  transform: scale(1.2);
  background-color: #1e90ff;
  color: white;
}

@media only screen and (max-width: 900px) {
  .root {
    flex-direction: column;
  }
  .search,
  .header {
    width: 100% !important;
  }
  .search {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .btn {
    width: 30vw;
  }

}
