.table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Open Sans", sans-serif;
  color: #333;
  direction: rtl;
  align-content: center;
  justify-self: center;
}

.th {
  background-color: #000000;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid #8c1303;
}

.td {
  padding: 20px;
  border-bottom: 2px solid #a21704;
  text-align: center;
}

.tr:nth-child(odd) {
  background-color: #f0f0f0;
}

.tr:hover {
  background-color: #8c1303;
  color: #fff;
}

.form {
  width: 500px;
  margin: 50px auto;
  text-align: center;
}

.input[type="text"],
.input[type="email"],
.input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid #8c1303;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  display: block;
  direction: rtl;
}

.input[type="text"]:focus,
.input[type="email"]:focus,
.input[type="password"]:focus {
  border: 4px solid #8c1303;
  vertical-align: text-top;
  text-align: auto;
}

.input[name="details"] {
  height: 200px;
}

.label {
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
}

.button[type="submit"] {
  background-color: #8c1303;
  color: #fff;
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 40px;
  transition: all 0.3s ease-in-out;
}

.button[type="submit"]:hover {
  background-color: #8c1303;
}

.warn {
  text-align: center;
  color: red;
  font-weight: bold;
}

.h1s {
  font-size: x-large;
  text-align: center;
}

.h2s {
  text-align: center;
  justify-content: center;
  justify-self: center;
  direction: rtl;
}


@media only screen and (max-width: 767px) {
  .h1s {
    width: 90;
  }

  .h2s {
    display: flex;
    width: 50%;
    text-align: right;
    direction: rtl;
    margin: 1%;
    padding: 1%;
  }
  
  .table {
    font-size: 14px;
    width: 90;
  }

  .th {
    padding: 10px;
    width: 90;

  }

  .td {
    padding: 10px;
    width: 90;

  }

  .form {
    width: 90%;
    margin: 20px auto;
  }

  .input[type="text"],
  .input[type="email"],
  .input[type="password"] {
    font-size: 14px;
    padding: 5px;
    margin: 5px 0;
    width: 90;

  }

  .button[type="submit"] {
    font-size: 14px;
    padding: 10px 20px;
    margin-top: 20px;
    width: 90;

  }
}