.btn {
  background: linear-gradient(
    to top left,
    rgb(0, 127, 255),
    rgb(0, 89, 178) 156%
  );
  color: #fff;
  display: flex;
  justify-content: center;
  width: 100%;
  height: min-content;
  border-radius: 10px;
  padding: 0.875rem 1rem 1rem 1rem;
  font-size: xx-large;
  font-weight: bold;
  letter-spacing: 0;
  cursor: pointer;
}
.btn:disabled {
  background: #b5b5b5;
}
.root {
  background-color: white;
  width: 100%;
  padding: 10px;
  margin-right: 2%;
  border-radius: 10px;
  box-shadow: 0.3rem 0.3rem 0 #1e90ff;
  direction: rtl;
}

.form__group {
  position: relative;
  padding: 10px 0 0;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  outline: 0;
  font-size: 1.2rem;
  padding: 5px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1rem;
  cursor: text;
  top: 10px;
}
.form__label {
  position: absolute;
  top: -10px;
  display: block;
  transition: 0.2s;
  font-size: 1.2rem;
  color: #9b9b9b;
}
.form__field:focus {
  padding-bottom: 4px;
  font-weight: 700;
  border-width: 2px;
  border-image: linear-gradient(to left, #11998e, #1e90ff);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 0.8rem;
  color: #1e90ff;
  font-weight: 700;
}
/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.selectField {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #9b9b9b;
  padding: 10px 0 0;
  width: 100%;
}

.selectField .select {
  position: relative;
  min-width: 150px;
}
.selectField select {
  padding: 5px 30px 5px 10px;
  width: 100%;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: white;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  transition: all 150ms ease;
}
.selectField option {
  color: #223254;
}
.selectField option[value=""][disabled] {
  display: none;
}
.selectField select:focus {
  outline: none;
  border-color: #07f;
  box-shadow: 0 0 0 2;
}
.selectField select:hover + svg {
  stroke: #07f;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tags div {
  margin: 3px;
  margin-top: 5px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;

  padding: 0px 25px;
  cursor: pointer;
}
.tags div.active {
  background-color: dodgerblue;
}
.tags div.active p {
  color: white;
}
.btnMbl {
  display: none;
}

@media only screen and (max-width: 767px) {
  .root {
    background-color: white;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0.5rem 0.5rem 0 #1e90ff;
    direction: rtl;
  }

  .form__group {
    position: relative;
    padding: 15px 0 0;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}
