@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap");

.header {
  padding-right: 8vw;
  /* direction: rtl; */
}

.title a,
.title span {
  color: var(--color-blue);
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.1142857142857143;
  color: #0a1929;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 50vw !important;
}

/* .title,
.description {
  text-align: center;
} */

.description {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
  font-family: "Arial";
  font-weight: 600;
  color: black;
  margin-bottom: 30px;
  max-width: 500px;
}

.btn {
  background: linear-gradient(
    to right bottom,
    rgb(0, 127, 255),
    rgb(0, 89, 178) 120%
  );
  width: 8%;
  padding: 20%;
  font-size: xx-large;
  font-weight: bolder;
  margin-right: 10px;
}
.try {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding: 0.875rem 1rem;
  color: #2d3843;
  border: 1px solid;
  border-color: #cdd2d7;
  background-color: #f3f6f9;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: 0;
  max-width: 324px;
  display: inline-block;
  justify-content: start;

  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 50px;
  align-items: center;
  cursor: pointer;
  background: none;
  position: relative;
  margin-left: 2rem;
}
.try:hover {
  border-color: #007fff;
  background-color: #f0f7ff;
}
.try:hover .cpy {
  color: #007fff;
}
.cpy {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: 10px;
  margin-left: 8px;
}


.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background: linear-gradient(
    to top left,
    rgb(0, 127, 255),
    rgb(0, 89, 178) 156%
  );
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 0.875rem 1rem;
  font-size: 0.9rem;
  line-height: 1.3125;
  letter-spacing: 0;
  cursor: pointer;
}
.btn:disabled {
  background: #b5b5b5;
}

@media only screen and (max-width: 900px) {
  .description,
  .title {
    max-width: none;
  }
  .header {
    padding: 0px !important;
  }
  .header > h1 {
    max-width: none !important;
  }
}
