.title a,
.title span {
  color: var(--color-blue);
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  font-size: 1rem;
}

.description {
  margin: 2px 0;
  font-size: 0.9rem;
}

.logoWrapper {
  padding-top: 5%;
}

.logo {
  padding: 0;
}
.root{
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 900px) {
  .root {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
