.nav {
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFV-9i10INmJoYPWpWP71wenLXPayqkJGfDg&usqp=CAU"); */
  background-repeat: no-repeat;
  padding: 10px;
  color: var(--color-blueDark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  transition: top 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  backdrop-filter: blur(20px);
  box-shadow: inset 0px -1px 1px #e7ebf0;
  background-color: rgba(255, 255, 255, 0.72);
  padding-left: 7%;
  padding-right: 20px;
  z-index: 9999 !important;
  min-height: 64px;
  position: fixed;
  background: rgba(30, 30, 30, 0.8) !important;
  color: white !important;
  width: 100%;
  top: 25px;
  height: 64px;
}

.navMobile {
  position: sticky;
  top: 0;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-blueDark);
  transition: top 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.72);
  z-index: 9999 !important;
  display: none;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li a,
.nav ul li p {
  margin: 5px 15px;
  transition: all 0.5s;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 700;
  font-size: 0.8em;
  padding-bottom: 5px;
}

.nav ul li a:hover,
.nav ul li p:hover {
  color: var(--color-blue);
  border-bottom: 1px solid var(--color-blue);
  transform: scale(1.2);
}

.active {
  color: var(--color-blue);
  border-bottom: 1px solid var(--color-blue);
  transform: scale(1.2);
}

.lidanger {
  background-color: #933535;
  border: 3px solid red;
  animation: border-pulse 5s linear infinite, background-blink 5s linear infinite;
  padding: auto;
  color: red;
  margin-right: 100px;
}

@keyframes border-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes background-blink {
  0% {
    background-color: #ffcccc;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: #ffcccc;
  }
}
@media only screen and (max-width: 900px) {
  .navDesktop {
    display: none;
  }
  .navMobile {
    display: flex;
    z-index: 9999999999999;
    height: 80px;
  }
  .mobList {
    height: 100vh;
    background: white;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 70%;
    z-index: 200;
    transform: translateX(-105%);
    transition: transform 0.3s ease-out;
  }
  .mobList.open {
    transform: translateX(0);
  }
  .close {
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 30px;
  }
  .mobList ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20%;
  }
  .mobList ul li {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 90%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1803921569);
  }
  .active {
    padding-left: 10%;
    width: 90%;
    /* display: none; */
  }
  .mobList ul li ul {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 90%;
  }
  .mobList ul li a {
    font-weight: 500;
  }
  .subMenu {
    display: none;
    padding-top: 5px !important;
  }
  .lidanger {
    max-width: max-content;
    max-height: max-content;
    border: 1px;
  }
  .dropdown .subMenu {
    display: none;
  }
  .dropdown:hover .subMenu {
    display: flex;
  }
}
.myfooter {
  
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  position: absolute;
  width: 100%;
  margin-top: 15%;
  height: 15%;
  background-color: white;
}

.myfooter .firstCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerContainer {
  display: flex;
  justify-content: right;
  margin-right: 10%;
  margin-bottom: 1%;
  align-items: right;
}

.footerLink {
  color: #444;
  text-decoration: none;
}

.secondCol .social {
  display: flex;
  align-items: right;
}
.footerLink, .primary {
  color: #1e90ff;
}

.myfb {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 2rem;
}
.myfb svg {
  color: #1e90ff;
}

.footerLine {
  border-top: 1px solid;
  border-color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo {
  width: 72px;
  height: 72px;
}

.myfooter h1,
.myfooter p {
  font-size: 1rem !important;
}
.myfooter h1 {
  font-weight: 700;
}
.myfooter p {
  font-weight: 500;
}
.myfooter button {
  width: 95px;
}

.hrLine {
  display: none;
}
.onlyMob{
  display: none;
}


@media only screen and (max-width: 900px) {
  .myfooter {
    flex-direction: column;
    height: 25%;
    padding-bottom: 5vh;
    text-align: center;
  }
  .onlyMob{
    display: block;
  }
  
  .firstCol {
    border-bottom: 3px solid #939393;
  }
  .hrLine {
    display: block;
  }
  .social{
    flex-direction: column;
  }
}