.select {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  width: fit-content;
  height: fit-content;
  display: flex;
}

.select:hover,
.select:focus {
  border-color: #666;
  outline: none;
}
@media only screen and (max-width: 900px) {
  .select {
    display: flex;
    left: 60%;
    top: 30%;
    width: 130px;
    /* position: absolute; */
  }
  .footer {
    position: initial !important;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
