@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-blueDark: #0a1929;
  --color-blue: dodgerblue;
  --color-blueLight: #11468f;
  --color-blueLighter: #caf0f8;
  --color-grayBg: #eeeeee;
  --color-textGray: #2d3843;
}
html,
head,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-grayBg);
  color: var(--color-blueDark);
  font-family: "Cairo";
}
span {
  color: var(--color-textGray);
}

.ribbon {
  position: fixed;
  background-color: black;
  color: white;
  top: 40px;
  left: -40px;
  width: 200px;
  transform: rotate(-45deg);
  text-align: center;
  z-index: 19999;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0;
}
h3 {
  margin-top: 8px !important;
}
p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0;
  color: #3e5060;
}

.cardPageRoot {
  width: 100%;
  display: flex;
  direction: rtl;
}

.cardsGlobalWrapper {
  width: 60%;
}

.addPanelWrap {
  margin-left: 1%;
  width: 30%;
  display: block;
}
.searchWithCards {
  width: 100%;
}

.homeMainDiv {
  width: 100%;
  z-index: 0;
  display: flex;
  margin: 0 auto;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
  position: relative;
  overflow: hidden;
  justify-content: center;
  flex-direction: column;
}
/* .homeMainDiv > div {
  flex-grow: 0;
  z-index: 9999;
  background-repeat: no-repeat;
  background-size: cover;
}
.homeRoot {
  height: 88vh;
  width: 100vw !important;
}
.homeMainDiv .myBg {
  position: absolute;
  width: 100%;
  background: linear-gradient(
    to top left,
    rgb(0, 127, 255) 0%,
    rgb(0, 89, 178) 100%
  );
  top: 31%;
  right: 0rem;
  height: 38rem;
  z-index: 1;
  transform: rotate(224deg);
  border-radius: 94px;
  animation: changeColor 5s 0s infinite;
  transition: all 2s;
}
.homeWhiteBg {
  background: #ffffffad;
  padding: 15px;
} */
.notice {
  text-align: center;
  background: dodgerblue;
  color: white;
  font-size: x-large;
  padding: 12px 0px;
}
.scroll-down-arrow-container {
  display: none;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background: linear-gradient(
    to top left,
    rgb(0, 127, 255),
    rgb(0, 89, 178) 156%
  );
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 0.875rem 1rem;
  font-size: 0.9rem;
  line-height: 1.3125;
  letter-spacing: 0;
  cursor: pointer;
}
.btn:disabled {
  background: #b5b5b5;
}

@media only screen and (max-width: 900px) {
  body {
    padding-bottom: 50px;
    font-family: "Cairo";
  }

  .cardsGlobalWrapper {
    margin-top: 40px;
    height: auto;
    width: 100%;
  }
  .cardsGlobalWrapper > div > h1 {
    margin-bottom: 10px;
  }
  .cardPageRoot {
    flex-direction: column;
  }
  .addPanelWrap {
    margin: 0;
    width: 90% !important;
  }
  .homeMainDiv {
    flex-direction: column;
  }
  .homeMainDiv > div {
    width: 100%;
    /* height: 90vh !important; */
  }
  .homeRoot {
    height: auto !important;
  }
  .homeWhiteBg {
    position: relative;
  }
  .scroll-down-arrow-container {
    position: absolute;
    bottom: 20px;
    left: 11%;
    transform: translateX(-50%);
    width: 50px !important;
    height: 50px;
    display: block;
  }

  .scroll-down-arrow {
    color: dodgerblue;
    font-size: 50px;
    animation: scroll-down-arrow 1s infinite;
  }
}

@keyframes changeColor {
  0% {
    opacity: 100%;
  }
  25% {
    opacity: 70%;
  }
  50% {
    opacity: 85%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes scroll-down-arrow {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
