.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  
  .icon {
    animation: spin 1s infinite linear;
    font-size: 24px;
    color: blue;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  