@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap");

.title {
  margin: 0;
  top: 0;
  justify-self: center;
  text-align: center;
  text-justify: auto;
  font-size: 15px;
  font-weight: bold;
  height: fit-content;
}

.cardDate {
  margin-bottom: auto;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100px;
  height: 100px;
}

.divfeedback {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 0;
  margin-top: 1%;
  gap: 10%;
  width: 100%;
  z-index: 1;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10%;
  border: 1px solid #e7ebf0;
  position: relative;
  opacity: 0;
  animation: fade-in 0.5s ease-in forwards;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.cardDetails {
  flex: 1;
  width: 100%;
  word-break: keep-all;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.card > * {
  flex: 1;
}

.tags {
  padding-right: 91.5%;
  padding-top: 10%;
  position: absolute;
}
.tags a {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  position: relative;
  margin: 0 16px 10px 0;
  padding: 0 5px 0 25px;
  background: #777;
  color: #fff;
  font-size: 16px;
  white-space: nowrap;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.tags a:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 7px;
  float: left;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 10%;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.4);
}

.btn {
  margin-top: 1rem;
}

.card h3 {
  display: flex;
  height: fit-content;
  align-items: center;
}

.card svg {
  margin-right: 2%;
}

.city {
  margin-bottom: auto;
  margin-top: auto;
  bottom: 0;
  padding-left: 10%;
  text-align: center;
  color: #777;
}

.card:hover,
.card:focus,
.card:active {
  border-color: var(--color-blue);
  box-shadow: 10px 10px 20px rgb(170 180 190 / 30%);
}

.deletebtn {
  max-width: 100%;
  width: 30%;
  height: 50%;
  max-height: 10%;
  display: flex;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  background: lightcoral;
  color: white;
  font-size: 20px;
  border-radius: 9px;
  cursor: pointer;
}
.hr {
  border-color: #b0c4de;
}
.feedbackbtn {
  display: flex;
  justify-content: space-evenly;
  width: 50px;
  height: 50px;
  line-height: 20px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color: white;
  background: dodgerblue;
  cursor: pointer;
  box-shadow: 0 0 3px gray;
  font-weight: bold;
}

.flagbtn {
  display: flex;
  justify-content: space-evenly;
  width: 50px;
  height: 50px;
  line-height: 20px;
  border: 2px solid #f5f5f5;
  border-radius: 90%;
  color: white;
  background: black;
  cursor: pointer;
  box-shadow: 0 0 3px gray;
  font-weight: bold;
}

.flagcounter {
  display: flex;
  justify-content: space-evenly;
  width: 50px;
  height: 50px;
  line-height: 20px;
  border: 2px solid #f5f5f5;
  border-radius: 70px;
  color: white;
  background: black;
  opacity: 0.6;
  box-shadow: 0 0 3px gray;
  font-weight: bold;
}

.feedbackcounter {
  display: flex;
  justify-content: space-evenly;
  width: 50px;
  height: 50px;
  line-height: 20px;
  border: 2px solid #f5f5f5;
  border-radius: 90%;
  color: white;
  background: dodgerblue;
  opacity: 0.6;
  box-shadow: 0 0 3px gray;
  font-weight: bold;
}

.iconsContainer {
  display: flex;
  margin-top: 10px;
  text-align: center;
}

.icons {
  margin-left: 5px;
}

.call {
  max-width: 100%;
  width: 90%;
  height: 50%;
  max-height: 10%;
  display: flex;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to top left,
    rgb(0, 127, 255),
    rgb(0, 89, 178) 156%
  );
  color: white;
  font-size: 20px;
  border-radius: 9px;
  cursor: pointer;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .card {
    max-width: 100%;
    width: 70%;
  }
  .tags a{
    word-wrap: break-word;
    white-space: pre-wrap;
    height: auto;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
