.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
}

.popup.active {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.popup-inner {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 90%;
  max-width: 600px;
  max-height: 50%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.popup-inner .children {
  overflow-y: auto;
  padding: 1rem;
}
.popup-inner .header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #0059b2;
  padding: 20px 10px;
  color: white !important;
  font-weight: bold;
}
.popup-inner .header svg {
  scale: 2;
  margin-left: 2%;
  cursor: pointer;
}
.popup-inner .header h2 {
  margin: 0 !important;
}
.popup-inner form {
  display: flex;
  flex-direction: column;
}
.popup-inner form label {
  margin-bottom: 0.5rem;
}
.popup-inner form input {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  margin-bottom: 0.5rem;
}
.popup-inner form button {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

.popup-footer .btn {
  
  width: 100%;
}