.paginator {
  margin-top: 1%;
  margin-right: 1%;
}
.paginatorbutton {
  background-color: rgba(30, 30, 30, 0.8) !important;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 9px;
}
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: right;
  justify-content: space-evenly;
}
.cardWrapper {
  flex: 1;
  margin-left: 8%;
  margin-top: 0;
  padding-top: 0%;
  padding-bottom: 1%;
  margin-bottom: 1%;
  min-width: 30%;
  max-width: 30%;
  flex-wrap: wrap;
}
.paginatorbutton:hover {
  background: linear-gradient(
    to top left,
    rgb(0, 127, 255),
    rgb(0, 89, 178) 156%
  );
  cursor: pointer;
  color: white;
}

.currentpage {
  border: none;
  background-color: #777;
  background: linear-gradient(
    to top left,
    rgb(0, 127, 255),
    rgb(0, 89, 178) 156%
  );
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 0 3px white;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.paginator {
  display: flex;
  justify-content: center;
}
.paginatorbutton {
  display: none;
}
.currentpage,
.prev,
.nxt {
  display: block;
}

@media screen and (max-width: 900px) {
  .paginator {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
  .paginatorbutton {
    display: none;
  }
  .currentpage,
  .prev,
  .nxt {
    display: block;
  }

  .paginatorbutton,
  .currentpage {
    font-size: 14px;
    padding: 8px 16px;
    margin: 2px 1px;
  }

  .cardWrapper {
    width: 90%;
    max-width: 90%;
    flex: auto !important;
    margin-bottom: 5% !important;
  }
}
