.form__group {
  position: relative;
  padding: 15px 0 0;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to left, #11998e, #1e90ff);
  border-image-slice: 1;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.citiesDiv,
.tagsDiv {
  display: flex;
  flex-wrap: wrap;
}

.citiesDiv div,
.tagsDiv div {
  margin: 5px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  padding: 0px 20px;
  cursor: pointer;
}

.citiesDiv div.active,
.tagsDiv div.active {
  background-color: dodgerblue;
}

.citiesDiv div.active p,
.tagsDiv div.active p {
  color: white;
}

@media only screen and (max-width: 480px) {
  .form__group {
    padding: 10px 0 0;
    margin-left: 2%;
    margin-right: 2%;
    max-width: max-content;
  }
  .form__field {
    font-size: 1rem;
    margin-left: 2%;
    margin-right: 2%;
    max-width: max-content;
  }
  .form__field:focus {
    max-width: max-content;
    padding-bottom: 4px;
    border-width: 2px;
  }
  .form_wrapper {
    margin-left: 2%;
    margin-right: 2%;
  }
  .citiesDiv div,
  .tagsDiv div {
    max-width: max-content;
    margin-left: 2%;
    margin-right: 2%;
    padding: 0px 10px;
  }
}
.SearchPanel {
  width: 100%;
  background-color: white;
  padding: 1%;
  margin-left: 23%;
}

.searchFilter {
  display: flex;
  align-items: center;
  width: 180px;
  margin-right: 20px;
}

.searchFilter p {
  margin-right: 15px;
  margin-left: 15px;
}

.searchFilter h4 {
  margin: 0 !important;
  margin-left: 10px;
}

.searchFilterBtn {
  background: none;
  color: rgb(60, 60, 60);
  border: 1px solid dodgerblue;
  font-weight: 700;
  font-size: 15px;
  width: 180px;
  display: flex;
  justify-content: space-between;
}
.searchFilterBtn.active {
  background-color: dodgerblue;
  color: white;
}

.popupFoot {
  display: flex;
  flex-direction: row-reverse;
}

.citiesChosen {
  display: flex;
  max-width: 60%;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.citiesChosen p {
  margin: 8px;
}

@media screen and (max-width: 900px) {
  .SearchPanel {
    margin-top: 5% !important;
  }

  .searchFilter {
    width: 45vw;
    margin: 5px !important;
  }

}
